body {
	font-family: 'Lato', sans-serif;
}

header {
	padding: 1.5em 0 0;
}

section {
	padding-bottom: 2em;
}

.icon {
	min-height: 100%;
}

.portfolio-title, .portfolio-subtitle {
	margin: 0.25em 0;
}

.featured-title {
	margin-bottom: 1em;
}

.project {
	text-align: center;
	margin-bottom: 1em;
}

.project-title {
	margin: 0.75em 0 0.25em;
	line-height: 1.25em;
}

.project-image {
	border: 1px solid #E2E2E2;
	-webkit-box-shadow: 0 5px 6px -6px #777;
	-moz-box-shadow: 0 5px 6px -6px #777;
	box-shadow: 0 5px 6px -6px #777;
}

.project-image, .project-image img {
	border-radius: 10px;
}

.project-image img {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.shrink {
	transition: all .2s ease-in-out;
}

.shrink:hover {
	transform: scale(0.9);
}

footer {
	padding: 0 0 1.5em;
}

/*@media (max-width: 991px) { 
	.icon {
		margin: auto 0;
	}

	.portfolio-title, .portfolio-subtitle {
		text-align: center;
	}
}*/